* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Regole generali */
body {
  color: #33475B;
  font-family: 'Roboto', sans-serif;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 70%;
  margin: auto;
}
.button-orange {
  display: inline-block;
  color: #fff;
  background-color: #FE775A;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 13px;
}
.button-orange:hover {
  opacity: 0.5;
}
.box-white {
  background-color: #FFFFFF;
  box-shadow: 0 0 2px 2px #E8EDF3;
  border-radius: 5px;
}
.box-white:hover {
  transform: scale(1.01);
  box-shadow: 0 0 5px 6px #E8EDF3;
}
.fa-check-circle {
  color: #FE775A;
  margin-right: 10px;
}
ul {
  list-style: none;
}
/* /Regole generali */
/* Regole login-section */
.login-section {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: #F5F8FA;
  line-height: 80px;
  border-bottom: 1px solid #33475B;
}
.login-section nav {
  float:left;
  width: 50%;
}
.login-section li {
  display: inline-block;
}
.login-section nav:nth-child(2) {
  text-align: right;
}
.fa-search {
  color: #39B7CB;
}
.button-white {
  color: #FE775A;
  background-color: transparent;
  border: 1px solid #FE775A;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px;
  text-decoration: none;
  font-size: 13px;
}
.button-white:hover {
  background-color: rgba(254, 119, 90, 0.1)
}
.small-button {
  display: inline;
  padding: 11px;
}
#english {
  display: inline;
  border-right: 1px solid #33475B;
  padding-right: 20px;
  margin-right: 20px;
}
#english a {
  text-decoration: none;
  color: #33475B;
}
#contact-us a {
  text-decoration: none;
  color: #33475B;
}
/* /Regole login-section */
/* Regole navigation-section */
.navigation-section {
  height: 80px;
  line-height: 80px;
  margin-top: 80px;
}
.logo {
  float: left;
  width: 50%;
}
.logo img {
  vertical-align: middle;
}
.navigation-section nav {
  float: left;
  width: 50%;
  text-align: right;
}
.navigation-section li {
  display: inline-block;
  margin-left: 15px;
  font-size: 14px;
}
.navigation-section a {
  text-decoration: none;
  color: #33475B;
}
.navigation-section .fa-angle-down {
  margin-left: 10px;
}
/* /Regole navigation-section */
/* Regole title-section */
.title-section {
  height: 575px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}
.title-section h1 {
  font-size: 42px;
  width: 45%;
}
.title-section p:nth-child(2) {
  width: 55%;
  font-size: 14px;
  margin: 20px 0;
  line-height: 25px;
}
.title-section p:nth-child(4) {
  font-size: 12px;
  margin-top: 30px;
}
/* /Regole title-section */
/* Regole separation-section */
.separation-section {
  height: 80px;
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;

}
/* /Regole separation-section */
/* Regole explain-section */
.explain-section {
  background-color: #F4F9FD;
}
/* /Regole explain-section */
/* Regole intro-block */
.intro-block {
  text-align: center;
  padding: 40px 0;
  width: 50%;
  margin: auto;
}
.intro-block img {
  height: 160px;
}
.intro-block h2 {
  font-size: 28px;
}
.intro-block p {
  font-size: 13px;
  margin-top: 20px;
  line-height: 25px;
}
/* /Regole intro-block */
/* Regole big-box */
.big-box {
  padding: 60px 90px;
}
.col-img {
  width: 20%;
  float: left;
  text-align: center;
  margin-right: 10%;
}
.col-text {
  width: 70%;
  float: left;
}
.col-img img {
  height: 80px;
  margin-bottom: 15px;
}
.col-text h3 {
  font-size: 20px;
}
.col-text p {
  font-size: 13px;
  line-height: 25px;
  margin-top: 20px;
}
.col-text h4 {
  text-transform: uppercase;
  font-size: 16px;
  margin: 20px 0;
  display: inline-block;
}
.col-text hr{
  display: inline-block;
  width: 63%;
  vertical-align: middle;
  margin-left: 50px;
  border: 1px solid #AAB1B5;
}
.col-text li {
  display: inline-block;
  margin-right: 15px;
  font-size: 13px;
}
/* /Regole big-box */
/* Regole 3-box */
.three-box {
  padding: 40px 0;
}
.three-box-column {
  float: left;
  width: 30%;
  padding: 20px 28px;
  text-align: center;
}
.col-sales {
  margin: 0 5%;
}
.three-box img {
  height: 80px;
}
.three-box h3 {
  font-size: 20px;
  margin-top: 20px;
}
.three-box p {
  font-size: 13px;
  margin-top: 20px;
  line-height: 25px;
}
.three-box hr {
  margin-top: 50px;
  margin-bottom: 30px;
  border: 1px solid #AAB1B5;
}
.three-box h4 {
  text-transform: uppercase;
  font-size: 16px;
}
.three-box ul {
  text-align: left;
  font-size: 13px;
  margin: 20px 0 40px;
}
/* /Regole 3 box */
/* Regole learn-section */
.learn-section {
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  color: #fff;
  padding: 40px 0 70px;
}
/* /Regole learn-section */
/* Regole learn-title-block */
.learn-title-block {
  text-align: center;
  margin-bottom: 40px;
}
.learn-title-block h2 {
  font-size: 27px;
  width: 99%;
  margin: auto;
}
.learn-title-block p {
  font-size: 13px;
  line-height: 22px;
  margin-top: 25px;
}
/* /Regole learn-title-block */
/* Regole learn-table-block */
.generic-table-box {
  float: left;
  width: 25%;
  text-align: center;
  padding: 20px;
}
.wrap-number {
  margin-top: 10px;
}
.generic-table-box h2 {
  font-size: 32px;
  display: inline-block;
  vertical-align: middle;
}
.wrap-number div {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  vertical-align: middle;
}
.generic-table-box p {
  font-size: 11px;
  margin-top: 10px;
}
.image-height {
  height: 30px;
}
.border-bottom {
  border-bottom: 1px solid #fff;
}
.border-right {
  border-right: 1px solid #fff;
}
/* /Regole learn-table-block */
/* Regole logos-section */
.logos-section  {
 padding-top: 45px;
}
/* /Regole logos-section */
/* Regole logos-block */
.logos-block {
  width: 60%;
  margin: auto;
}
.customers-column {
  float: left;
  width: 20%
}
.customers-column h2 {
  font-size: 38px;
}
.customers-column p {
  font-size: 13px;
  margin-top: 30px;
  line-height: 20px;
}
.customers-column span {
  font-weight: 700;
}
.logos-column {
  width: 60%;
  margin-left: 20%;
  padding-top: 10px;
  float: left;
  text-align: right;
  line-height: 50px;
}
.logos-column li {
display: inline-block;
margin-left: 15px;
}
.logos-column img {
  vertical-align: middle;
}
#atlassian {
  height: 13px;
}
#doordash {
  height: 12px;
}
#crowd {
  height: 30px;
}
#purple {
  height: 50px;
}
#subaru {
  height: 35px;
}
#wistia {
  height: 16px;
}
#classpass {
  height: 30px;
}
#vmware {
  height: 25px;
}
/* /Regole logos-block */
/* Regole  image-block */
.image-block {
  padding: 40px 0;
}
.image-block-col-left {
  float: left;
  width: 50%;
  padding-top: 40px;
}
.image-block-col-left h2 {
  font-size: 28px;
  width: 90%;
}
.image-block-col-left p:nth-child(2) {
  font-size: 13px;
  width: 88%;
  margin: 25px 0;
  line-height: 23px;
}
.image-block-col-left p:nth-child(4) {
  font-size: 12px;
  margin-top: 35px;
}
.image-block-col-right {
  float: left;
  width: 50%;
  text-align: right;
}
.image-block-col-right img {
  height: 300px;
}
/* /Regole  image-block */
/* Regole footer */
footer {
  color: #CAD5E1;
  background-color: #33475B;
  padding-top: 35px;
}
footer a {
  text-decoration: none;
  color: #CAD5E1;
  font-size: 13px;
}
footer a:hover:not(.contact-button) {
  color: #00ffff;
}
/* /Regole footer */
/* Regole reference-block */
.reference-column {
  float: left;
  width: 25%;
}
.reference-column h3 {
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}
.reference-column li {
  margin-bottom: 10px;
}
.contact-button {
  background-color: #DADEE0;
  color: #33475B;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 12px;
  display: inline-block;
}
.contact-button:hover {
  opacity: 0.9;
}
#social-list li {
  display: inline-block;
  margin-right: 20px;
}
/* /Regole reference-block */
/* Regole language-block */
.language-block {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}
.language-block li {
  display: inline-block;
  margin-right: 15px;
}
/* /Regole language-block */
/* Regole copyright-block */
.copyright-block {
  padding: 30px 0;
}
.copyright-column {
  float: left;
  width: 50%;
}
.copyright-column:nth-child(2) {
  text-align: right;
}
.copyright-column img {
  height: 25px;
}
.copyright-column p {
  color: #fff;
  font-size: 13px;
}
.copyright-column li {
  display: inline-block;
  margin-left: 15px;
}
/* /Regole copyright-block */
