* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Regole generali */
body {
  color: #384F60;
  font-family: 'Roboto', sans-serif;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 70%;
  margin: auto;
}
.button-orange {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-color: #FE775A;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.button-white {
  color: #FE775A;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  border: 1px solid #FE775A;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
}
/* /Regole generali */
/* Regole login-section */
.login-section {
  height: 80px;
  background-color: #F5F8FA;
  line-height: 80px;
  border-bottom: 1px solid #384F60;
}
.login-section nav {
  float:left;
  width: 50%;
}
.login-section ul {
  list-style: none;
}
.login-section li {
  display: inline-block;
}
.login-section nav:nth-child(2) {
  text-align: right;
}
.fa-search {
  color: #39B7CB;
}
#english a {
  border-right: 1px solid #384F60;
  padding-right: 20px;
  margin-right: 20px;
  display: inline;
  text-decoration: none;
  color: #384F60;
}
#contact-us a {
  text-decoration: none;
  color: #384F60;
}
/* /Regole login-section */
/* Regole navigation-section */
.navigation-section {
  height: 80px;
  line-height: 80px;
}
.logo {
  float: left;
  width: 50%;
}
.logo img {
  vertical-align: middle;
}
.navigation-section nav {
  float: left;
  width: 50%;
  text-align: right;
}
.navigation-section ul {
  list-style: none;
}
.navigation-section li {
  display: inline-block;
  margin-left: 15px;
  font-size: 14px;
}

.navigation-section a {
  text-decoration: none;
  color: #384F60;
}

.navigation-section .fa-angle-down {
  margin-left: 10px;

}
/* /Regole navigation-section */
/* Regole title-section */
.title-section {
  height: 500px;
  background-image: url(../img/jumbotron.png);
}
/* /Regole title-section */
